In [34]:
import pandas as pd

In [63]:
ds_path='/mnt/e/jhona/Documents/Estudo/AI Microsfot & Simplon.co/Projet_chef_doeuvre/fashion_dataset/'
image_path='/mnt/e/jhona/Documents/Estudo/AI Microsfot & Simplon.co/Projet_chef_doeuvre/fashion_dataset/fashion-dataset/fashion-dataset/images'

In [37]:
# Remove lines that are not compliance (10 fields)
file_path = ds_path+"/styles.csv"
file_path_traited = ds_path+"/styles_10_categories.csv"

with open(file_path, "r", encoding="utf-8") as file:
    with open(file_path_traited, "w", encoding="utf-8") as new_file:
        for line in file:
            if line.count(",") <= 9:
                new_file.write(line)
            else:
                print(f"Linha tem mais de 9 vírgulas: {line.strip()}")

Linha tem mais de 9 vírgulas: 23100,Men,Accessories,Accessories,Accessory Gift Set,Navy Blue,Fall,2011,Formal,Turtle Men Formal Navy Blue Tie, Cufflink and Pocket Square Combo Set
Linha tem mais de 9 vírgulas: 23107,Men,Accessories,Accessories,Accessory Gift Set,Purple,Fall,2011,Formal,Turtle Men Formal Purple Tie, Cufflink and Pocket Square Combo Set
Linha tem mais de 9 vírgulas: 59768,Women,Accessories,Jewellery,Earrings,Gold,Winter,2016,Casual,Estelle Women Gold, Silver and Copper Toned Earrings
Linha tem mais de 9 vírgulas: 23114,Men,Accessories,Accessories,Accessory Gift Set,Black,Fall,2011,Formal,Turtle Men Formal Black Tie, Cufflink and Pocket Square Combo Set
Linha tem mais de 9 vírgulas: 23112,Men,Accessories,Accessories,Accessory Gift Set,Red,Fall,2011,Formal,Turtle Men Formal Red Tie, Cufflink and Pocket Square Combo Set
Linha tem mais de 9 vírgulas: 23115,Men,Accessories,Accessories,Accessory Gift Set,Blue,Fall,2011,Formal,Turtle Men Formal Blue Tie, Cufflink and Pocket Square Combo Set
Linha tem mais de 9 vírgulas: 23124,Unisex,Footwear,Flip Flops,Flip Flops,Navy Blue,Spring,2013,Casual,Converse Unisex Navy Blue Liv,Laugh,Love Flip-flops
Linha tem mais de 9 vírgulas: 3428,Men,Apparel,Topwear,Tshirts,Black,Summer,2011,Casual,Myntra Mens Be Reasonable,Do It My Way T-shirt
Linha tem mais de 9 vírgulas: 23103,Men,Accessories,Accessories,Accessory Gift Set,Black,Fall,2011,Formal,Turtle Men Formal Black Tie, Cufflink and Pocket Square Combo Set
Linha tem mais de 9 vírgulas: 3418,Men,Apparel,Topwear,Tshirts,Black,Summer,2011,Casual,Myntra Men's Take my advice, I don't use it anyway Black T-shirt
Linha tem mais de 9 vírgulas: 23110,Men,Accessories,Accessories,Accessory Gift Set,Blue,Fall,2011,Formal,Turtle Men Formal Blue Tie, Cufflink and Pocket Square Combo Set
Linha tem mais de 9 vírgulas: 23117,Men,Accessories,Accessories,Accessory Gift Set,Blue,Fall,2011,Formal,Turtle Men Formal Blue Tie, Cufflink and Pocket Square Combo Set
Linha tem mais de 9 vírgulas: 23116,Men,Accessories,Accessories,Accessory Gift Set,Red,Fall,2011,Formal,Turtle Men Formal Red Tie, Cufflink and Pocket Square Combo Set
Linha tem mais de 9 vírgulas: 23111,Men,Accessories,Accessories,Accessory Gift Set,Yellow,Fall,2011,Formal,Turtle Men Formal Yellow Tie, Cufflink and Pocket Square Combo Set
Linha tem mais de 9 vírgulas: 23118,Men,Accessories,Accessories,Accessory Gift Set,Red,Fall,2011,Formal,Turtle Men Formal Red Tie, Cufflink and Pocket Square Combo Set
Linha tem mais de 9 vírgulas: 23127,Unisex,Footwear,Flip Flops,Flip Flops,Green,Summer,2012,Casual,Converse Unisex Green Live, Life, Laugh Flip Flops

In [38]:
ds = pd.read_csv(file_path_traited)

In [ ]:
ds.count()

id                    44423
gender                44421
masterCategory        44421
subCategory           44421
articleType           44421
baseColour            44406
season                44400
year                  44420
usage                 44104
productDisplayName    44414
dtype: int64

In [ ]:
ds.drop_duplicates(inplace=True)
ds.dropna(inplace=True)

In [47]:
ds.count()

id                    44074
gender                44074
masterCategory        44074
subCategory           44074
articleType           44074
baseColour            44074
season                44074
year                  44074
usage                 44074
productDisplayName    44074
dtype: int64

In [51]:
ds

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt
...,...,...,...,...,...,...,...,...,...,...
44418,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,2013.0,Casual,Gas Men Caddy Casual Shoe
44419,6461,Men,Footwear,Flip Flops,Flip Flops,Red,Summer,2011.0,Casual,Lotto Men's Soccer Track Flip Flop
44420,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,2011.0,Casual,Puma Men Graphic Stellar Blue Tshirt
44421,46694,Women,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,2017.0,Casual,Rasasi Women Blue Lady Perfume
44422,51623,Women,Accessories,Watches,Watches,Pink,Winter,2016.0,Casual,Fossil Women Pink Dial Chronograph Watch ES3050

In [74]:
filter_ds = ds[ds['masterCategory'].isin(['Apparel','Footwear'])]

In [75]:
filter_ds.drop(['productDisplayName','year','masterCategory','gender','subCategory'], axis=1, inplace=True)

/tmp/ipykernel_63346/351607629.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_ds.drop(['productDisplayName','year','masterCategory','gender','subCategory'], axis=1, inplace=True)

In [ ]:
filter_ds

          id   articleType baseColour  season   usage
0      15970        Shirts  Navy Blue    Fall  Casual
1      39386         Jeans       Blue  Summer  Casual
3      21379   Track Pants      Black    Fall  Casual
4      53759       Tshirts       Grey  Summer  Casual
5       1855       Tshirts       Grey  Summer  Casual
...      ...           ...        ...     ...     ...
44416  12544       Tshirts      Peach    Fall  Casual
44417  42234          Tops       Blue  Summer  Casual
44418  17036  Casual Shoes      White  Summer  Casual
44419   6461    Flip Flops        Red  Summer  Casual
44420  18842       Tshirts       Blue    Fall  Casual

[30561 rows x 5 columns]

In [78]:
from sklearn.model_selection import train_test_split

In [88]:
X_train, X_test = train_test_split(filter_ds, train_size=0.8, test_size=0.2, random_state=42, shuffle=True)

In [99]:
import shutil
import os
ds_train_path = ds_path + "train"
ds_test_path = ds_path + "test"

def copy_image(ds_train_path, dataframe):
    for line in dataframe.to_numpy():
        source_img = image_path+"/"+line[0]+".jpg"

        for cat in line[1:]:
            destination_dir = ds_train_path+"/"+cat
            os.makedirs(destination_dir, exist_ok=True)
            shutil.copy(source_img, destination_dir+"/"+line[0]+".jpg")

copy_image(ds_train_path, X_train)
# copy_image(ds_test_path, X_test)

PermissionError: [Errno 1] Operation not permitted: '/mnt/e/jhona/Documents/Estudo/AI Microsfot & Simplon.co/Projet_chef_doeuvre/fashion_dataset/train/Trunk/28072.jpg'

In [90]:
X_test

          id   articleType baseColour  season   usage
31876  28712        Kurtas       Blue  Summer  Ethnic
39024  11732       Tshirts      Black    Fall  Casual
7093   44232  Sports Shoes      White  Summer  Sports
34689  52915        Sarees      White  Summer  Ethnic
43687  13661        Shirts      White    Fall  Formal
...      ...           ...        ...     ...     ...
38582  13914       Sandals      Black    Fall  Casual
35621  20137        Shirts      Green    Fall  Casual
28269  31262       Tshirts  Navy Blue  Summer  Casual
23433  10809        Shirts      Black    Fall  Casual
2790   28005        Briefs       Blue  Summer  Casual

[6113 rows x 5 columns]